body {
    background-image: url(Background.png);
    font-family: roboto, regular;
    color: #ffff;
}

h1 {
    font-size: 35px;
    color: #ffff;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

a:link,
a:visited{
    color: #ffff;
}

.container{
    display: inline-block;
    padding-top: 15%;
    width: 15%;
} 

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    margin-top: 20px;
    border-radius: 50px;
}

Aanmeldbutton:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

Aanmeldbutton:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

/**********
*  Footer *
**********/
footer ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}

footer {
    position: absolute; 
    bottom: 0;
    height: 8.2rem;
    background-color: #ffffff;
}

.Logo1 {
    float: left;
    width: 15%;
    padding: 5px;
    padding-right: 300px;
}

.Logo {
    float: left;
    width: 15%;
    padding: 5px;
}

#footer::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 30%;
} 