body {
    background-image: url(Background.png);
    font-family: roboto, regular;
}

body p {
    color: #ffff;
}

h1 {
    font-size: 40px;
    padding-left: 10%;
    padding-right: 200px;
    padding-top: 40px;
    font-family: acier-bat-solid, sans-serif;
    margin: 0;
} 

a:link,
a:visited {
    color: #ffff;
}

.main {
    display: inline-block;
    padding-top: 20%;
    width: 15%;
    padding-left: 35%;
}

.main2 {
    display: inline-block;
    padding-top: 15%;
    width: 15%;
    padding-left: 37%;
}

.WachwoordVergeten {
    padding-top: 2%;
    padding-left: 41%;
}

.NaarRegistreren {
    padding-top: 15%;
    padding-left: 37%;
}

.TerugNaarRegistreren {
    padding-top: 5%;
    padding-left: 42%;
}

.NaarLogin {
    padding-top: 15%;
    padding-left: 42%;
}

.input-field,
.input-field1,
.input-field2,
.input-field3,
.input-field4 {
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 350px; 
    margin-top: 10px;
    font-size: 1em;
    border-radius: 7px;
}

.input-group {
    padding-top: 15%;
    padding-left: 37%;
}

.Aanmeldbutton {
    color: #ffff;
    background: transparent;
    border: 1px #DADADA solid;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    margin-top: 20px;
    border-radius: 50px;
}

#ForgotPassword {
    margin-left: 37%;
}

.Aanmeldbutton:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.Aanmeldbutton:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

/**********
*  Footer *
**********/

footer ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
}

.LogoABC {
    width: 60%;
}

.Logo2 {
    width: 35%;
}

.Logo3 {
    width: 27%;
}

.Logo1 {
    float: left;
    padding: 5px;
    padding-right: 300px;
}

.Logo {
    margin-top: 17px;
    float: left;
    width: 15%;
    padding: 5px;
}

#footer::after {
    content: "";
    clear: both;
    display: table;
}
