/************
*   footer  *
************/
.copyright {
    margin-left: 500px;
}

footer p {
    display: inline-block;
    text-align: center;
    margin-left: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 3.5rem;
    background-color: #d6d8db;
    width: 99.5%; 
}


.gotopbtn {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #d3bcdb;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
        z-index: 1;

}

.gotopbtn:hover {
  background-color: #51036d; 
}

