/***********************
*    Contacteer ons    *
***********************/

h1 {
    font-family: acier-bat-solid, sans-serif;
}

h3,
p {
    font-family: roboto-regular, sans-serif;
}

p {
    font-size: 13px;
}

.Onze_campussen {
    
    padding-left: 20px;
    margin-right: 65%;
    margin-bottom: 30px;
    margin-left: 200px;
    border: 2px solid #5E5E5E;
    border-radius: 15px;

}

.Adres {

    position: absolute;
    left: 800px;
    top: 75px;
    border: 2px solid #5E5E5E;
    padding-left: 200px;
    padding-right: 90px;
    border-radius: 15px;
}
.Adres img{
    position: absolute;
    left: 70px;
    bottom: 30px;
}

iframe{
    position: absolute;
    left: 700px;
    top: 240px;
    
}