h1 {
    font-size: 40px;
    margin-left: 260px;
    margin-top: 40px;
    font-family: acier-bat-solid, sans-serif;

}

button {
    background-color: white;
    border: none;
    cursor: pointer;

}

.addAndDeleteButtons {
    position: absolute;
    left: 1200px;
    top: -45px;
    word-spacing: 20px;
}

h3 {
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 260px;
    margin-top: 80px;
}

.lijn img {
    position: absolute;
    left: 198px;
    margin-top: 0px;
}


