h1{
    margin-left: 210px;
    margin-top: 40px;
    font-size: 40pt;
    font-family: acier-bat-solid, sans-serif;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;

}

#vuilbak{
    margin-top: 90px;
    
}

.addAndDeleteButtons {
    position: absolute;
    left: 1200px;
    top: -45px;
    word-spacing: 0px;
   
}



h3 {
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 260px;
    margin-top: 80px;
    margin-bottom: 6px
}

.lijn img {
    position: absolute;
    left: 190px;
    margin-top: 0px;
}

.Engels .lijn {
display: none;
}

.Engels span{
    margin-left: 45px;
}

.dwd .lijn {
display: none;
}

.dwd span{
    margin-left: 20px;
}

.cp .lijn{
    display: none;
}

.cp span{
    margin-left: -12px;
    
}

.bs .lijn {
    position: absolute;
    top: 206px;
    margin-left: 500px;
    display: none;
    
}

.bs span{
    position: absolute;
    top: 175px;
    right: 585px;
}





