
/**************
      KALENDER
***************/
* {box-sizing: border-box;}
ul {list-style-type: none;}


.month {
    padding: 30px 25px;
    width: 20%;
    background: grey;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    width: 20%;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    font-size:11px;
    text-align: center;
}

.days {
    padding: 10px 0;
    width: 20%;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size:10px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #380553;
    color: white !important
}

/**************
    HEADER
***************/

h1{
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    font-size: 40pt;
}

.dashboardButtons{
    float: right;
    margin-top: 40px;
    margin-right: 200px;
    
    
}

.dashboardButtons img{
    width: 40px;
    margin: 10px;

    vertical-align: middle;
}

/**************
     MAIN
***************/

main{
    display: block;
}
.animate-listitem {
    transform: rotate(-90deg);
}
.runningStoryboards{
    padding-left: 200px;
}
.runningStoryboards button{
    background-color: transparent;
    border-color: transparent;
    float: left;
    transition: .5s transform;
    position: relative;
}

.recentFirst a {
    border: solid #777 2px;
    float: left;
    width: 200px;
    display: table-cell;
    padding: 10px;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 20px;
}
.recentSecond a{
    border: solid #777 2px;
    float: left;
    width: 200px;
    display: table-cell;
    padding: 10px;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 20px;
}

.recentFirst, .recentSecond{
    float: left;
}

.recentFirst img, .recentSecond img{
    width: 20px;
    margin: 0;
    padding: 0;
}

.storyboardsDashboard{
    float: left;
    padding-left: 200px;
  
}

#color{
    border: solid #eee 0;
    width: 100px;
    float: left;
    margin-bottom: 0;
    padding: 0;
}