
/**************
<<<<<<< Updated upstream
      KALENDER
***************/
.kalender {
    padding: 50px 900px;


}
/**************
=======
>>>>>>> Stashed changes
    HEADER
***************/

h1{
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    font-size: 40pt;
}

.dashboardButtons{
    float: right;
    margin-top: 40px;
    margin-right: 200px;
    
    
}

.dashboardButtons img{
    width: 40px;
    margin: 10px;

    vertical-align: middle;
}

/**************
     MAIN
***************/

main{
    display: block;
}
.animate-listitem {
    transform: rotate(-90deg);
}
.runningStoryboards{
    padding-left: 200px;
}
.runningStoryboards button {
    background-color: transparent;
    border-color: transparent;
    float: left;
    transition: .5s transform;
    position: relative;
}

/*.recentFirst a {
    border: solid #777 2px;
    float: left;
    width: 200px;
    display: table-cell;
    padding: 19.5px;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 20px;
}*/
/*.recentSecond a{
    border: solid #777 2px;
    float: left;
    width: 200px;
    display: table-cell;
    padding: 19.5px;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 20px;
} */

.recentFirst, .recentSecond{
    float: left;
}



.storyboardsDashboard{
    float: left;
    padding-left: 200px;
  
}


