/**************
      NAV
***************/
.navigatie{
    list-style: none;
    float: left;
    vertical-align: middle;
    background-color: rgb(218, 218, 218);
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 100%;
}

img{
      margin-top: 30px;
      float: left;
}

body{
      margin: 0%;
}


.contact2{
      color: black;
      text-decoration-line: none;
      margin-left: 10px;

}