/**************
      NAV
***************/
.navigatie {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    list-style: none;
    float: left;
    vertical-align: middle;
    background-color: rgb(218, 218, 218);
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 100%;
    text-align: center;
    padding-bottom: 300px;
}

ul li {
    list-style: none;
}

.Andere a {
    display: fixed;
    text-decoration: none;
    color: black;
    float: left;
    width: 85px;
}

.logoAfbeelding {
    width: 80px;
    margin-top: 20px;
    margin-left: 4px;
}

.Andere img {
    margin-top: 15px;
    width: 45px;
    float: left;
    vertical-align: middle;
    margin-left: 18px;
}

body {
    font-family: Roboto, Regular, sans-serif;
    margin: 0;
}

.icon {
    color: black;
    text-decoration-style: none;
    margin-top: 5px;
}

.logo img {
    width: 60px;
}

.Andere :hover {
    background-color: #e2e2e2;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #c2c4c6;
    border-bottom-color: #c2c4c6;
    margin: 0%;
}

.logoAfbeelding :hover {
    width: 80px;
    background-color: #e2e2e2;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #c2c4c6;
    border-bottom-color: #c2c4c6;
}

.Dashboard .logoAfbeeldingen :hover {
    width: 80px;
}

.Andere a:hover {
    background-color: #e2e2e2;
}

.Andere img:hover {
    background-color: #e2e2e2;
    border-top-style: none;
    border-bottom-style: none;
    margin-top: 15px;
    width: 45px;
    float: left;
    vertical-align: middle;
    margin-left: 18px;
}

.li :active {
    border-top-color: solid #bcbcbc 2px;
    border-bottom-color: solid #bcbcbc 2px;
    border-top-color: #bcbcbc;
    border-bottom-color: #bcbcbc;
    border-top-style: solid;
    border-bottom-style: solid;
    margin: 0%;
}

.Andere a:active {
    background-color: #ffff;
}

.Andere img:active {
    background-color: #ffff;
    border-top-style: none;
    border-bottom-style: none;
    margin-top: 15px;
    width: 45px;
    float: left;
    vertical-align: middle;
    margin-left: 18px;
}

.current {
    background-color: #ffff;
    border-top-color: solid #bcbcbc 2px;
    border-bottom-color: solid #bcbcbc 2px;
    border-top-color: #bcbcbc;
    border-bottom-color: #bcbcbc;
    border-top-style: solid;
    border-bottom-style: solid;
}

/**************
    FOOTER
**************/

.footer {
    padding: 12px;
    background: #d6d8db;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left: 100px;
}

.footer p {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 15%;
    height: 9px;
}

.footer p a {
    text-decoration: none;
    color: black;
    width: 85px;
}

.copyright {
    margin-right: 200px;
}

/*************
* Top button *
*************/

.gotopbtn {
    position: fixed;
    left: 1400px;
    bottom: 40px;
    float: right;
    font-size: 30px;
    color: #adadad;
}
