h1 {
    font-size: 40px;
    padding-left: 10%;
    padding-right: 200px;
    padding-top: 40px;
    font-family: acier-bat-solid, sans-serif;
    margin: 0;
}

h2,
h3,
h4 {
    font-family: roboto-regular, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: roboto-regular, sans-serif;
    margin: 0;
    padding: 0;
}

.ProfielAanpassen {
    border: none;
    width: 300px;
}

.Profiel {
    margin-top: 50px;
    margin-right: 400px;
    float: right;
    width: 30%;
    border: 2px solid #5E5E5E;
    border-radius: 15px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Profielfoto {
    float: left;
    margin-top: 120px;
    margin-left: 150px
}

.PersoonlijkeGegevens {
    margin-top: 50px;
    margin-left: 260px;
    margin-right: 300px;
    padding-left: 15px;
    background-color: rgb(218, 218, 218);
}

#next {
    background: transparent;
    border: 1px #DADADA solid;
    padding: 10px 20px;
    border-radius: 52px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    margin-left: 300px;
}

#next:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

#next:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

li {
    list-style: none;
    padding-top: 10px;
    ;
}

.col-ting {
    margin-left: 250px;
}

.Afmelden {
    color: #000000;
    background: transparent;
    border: 1px #DADADA solid;
    padding: 10px 20px;
    border-radius: 52px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    margin-top: 200px;
    margin-left: 1150px;
}

.Afmelden:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.Afmelden:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
} 
