/**************
      NAV
***************/
.navigatie{
    list-style: none;
    float: left;
    vertical-align: middle;
    background-color: rgb(218, 218, 218);
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 100%;
}

<<<<<<< Updated upstream
nav img{
=======
li :hover {
    background-color: #e2e2e2;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #c2c4c6;
    border-bottom-color: #c2c4c6;
    }

li a:hover {
    background-color: #e2e2e2;
}

li img:hover {
    background-color: #e2e2e2;
    border-top-style: none;
    border-bottom-style: none;
}

li :active {
    background-color: #ffff;
    border-top-color: #c2c4c6;
    border-bottom-color: #c2c4c6;
}

li :visited {
    background-color: #ffff;
    border-top-color: #c2c4c6;
    border-bottom-color: #c2c4c6;
}

li a {
    text-decoration: none;
    color: black;
    float: left;
    width: 70px;
}
img{
>>>>>>> Stashed changes
      margin-top: 30px;
      float: left;
}

body{
      margin: 0%;
}


.contact2{
      color: black;
      text-decoration-line: none;
      margin-left: 10px;

}
/**************
     HEADER
***************/

h1{
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    font-size: 40pt;
}
.addAndDeleteButtons{
    float: right;
    margin-right: 200px;
    margin-top: 55px;
}
.vuilbak{
    width: 15px;
    float: right; 
    
}
.Button{
   vertical-align: middle;
}

/**************
      MAIN
***************/



.animate-listitem{ 
   
    transform: rotate(-90deg);
    
}


.uitklap{
    float: left; 
    transition: .5s transform;
}



#tussenTitels{
    vertical-align: middle;
    padding-left: 140px;
}

