h1{
    font-family: Acier BAT text solid, sans-serif;
    color: #321432;
    font-size: 40px;
    margin-left: 80px;
    margin-top: 30px;
}

.side-nav{
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: #DADADA;
}

.create-button{
    display: inline-block;
    border: none;
    padding: 8px 50px;
    margin-left: 140px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #321432;
    font-family: Roboto;
    border-radius: 12px;
    font-size: 20px;
}

.legende-leeractiviteiten{
    display: block;
    width: 250px;
    padding: 2px 5px;
    margin: 20px 130px;
    border: #5E5E5E solid;
    float: right;
    font-family: Roboto regular, sans-serif;
}

.kennisverwerking {
    display: block;
    border: none;
    outline: none;
    text-align: left;
    width: 240px;
    padding: 7px 10px;
    margin: 10px 10px 5px 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #F0874B;

}
.dropdown-legende-kennisverwerking{
    margin: auto;
    padding: 7px 10px;
    display: none;
    background-color: #F0874B;
    color: white;
    font-family: Roboto, sans-serif;
}

.samenwerking{
    display: block;
    border: none;
    outline: none;
    text-align: left;
    width: 240px;
    padding: 7px 10px;
    margin: 10px 10px 5px 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #12ADAD;
}
.dropdown-legende-samenwerking{
    display: none;
    margin-top: -1px;
    font-family: Roboto, sans-serif;
    padding: 7px 10px;
    color: white;
    background-color: #12ADAD;
}

.discussie{
    display: block;
    border: none;
    outline: none;
    text-align: left;
    width: 240px;
    padding: 7px 10px;
    margin: 10px 10px 5px 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #EE8090;
}
.dropdown-legende-discussie{
    display: none;
    margin-top: -1px;
    font-family: Roboto, sans-serif;
    padding: 7px 10px;
    color: white;
    background-color: #EE8090;
}

.onderzoek{
    display: block;
    border: none;
    outline: none;
    text-align: left;
    width: 240px;
    padding: 7px 10px;
    margin: 10px 10px 5px 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color:#85A22A;
}
.dropdown-legende-onderzoek{
    display: none;
    margin-top: -1px;
    font-family: Roboto, sans-serif;
    padding: 7px 10px;
    color: white;
    background-color: #85A22A;
}

.praktijk{
    display: block;
    border: none;
    outline: none;
    text-align: left;
    width: 240px;
    padding: 7px 10px;
    margin: 10px 10px 5px 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #6361A8;
}
.dropdown-legende-praktijk{
    display: none;
    margin-top: -1px;
    font-family: Roboto, sans-serif;
    padding: 7px 10px;
    color: white;
    background-color: #6361A8;
}

.productie{
    display: block;
    border: none;
    outline: none;
    text-align: left;
    width: 240px;
    padding: 7px 10px;
    margin: 10px 10px 5px 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: rgb(242, 179, 21);
}
.dropdown-legende-productie{
    display: none;
    margin-top: -1px;
    font-family: Roboto, sans-serif;
    padding: 7px 10px;
    color: white;
    background-color: #F2B315;
}

.hovering:hover{
    color: black;
}
.fa-caret-down {
    float: right;
    padding-right: 10px;
}

.box_container {
    width: 10px;
    height: 10px;
    margin: 10px;
    cursor: pointer;
    padding: 50px;
    font-size: 20px;
    font-family: roboto, regular, sans-serif;
    float: left;
    background-color: lightgray;
}