h1 {
    font-size: 40px;
    margin-left: 260px;
    margin-right: 200px;
    margin-top: 40px;
    font-family: acier-bat-solid, sans-serif;
}

h2,
h3,
h4 {
    margin-left: 260px;
    margin-right: 200px;
    font-family: roboto-regular, sans-serif;
    
    
}

h3{
    margin-top: 10px;
}

p {
    margin-left: 260px;
    font-size: 13px;
    font-family: roboto-regular, sans-serif;
    margin-right: 200px;
}

.First,
.Second,
.Third {
    margin-left: 50px;
}

.uitklap1,
.uitklap2,
.uitklap3 {
    margin-left: 220px; 
}

.animate-listitem {
    transform: rotate(-90deg);
}

button {
    position: absolute;
    background:none;
    border: none;
    cursor: pointer;
    
}

.gotopbtn{
    position:fixed;
    left: 1400px;
    bottom: 40px;
    float: right;
    font-size: 30px;
    color: #adadad;
    
}