h1 {
    font-size: 40px;
    padding-left: 260px;
    padding-right: 200px;
    padding-top: 40px;
    font-family: acier-bat-solid, sans-serif;
    margin: 0;
}

h2,
h3,
h4 {
    padding-left: 260px;
    padding-right: 200px;
    font-family: roboto-regular, sans-serif;


}

h3 {
    padding-top: 10px;
}

p {
    font-size: 13px;
    font-family: roboto-regular, sans-serif;
}

div {
    padding-left: 120px;
    padding-right: 200px;
}

.Column {
    width: 40%;
    float: left;
}

.Column1 {
    width: 40%;
    float: right;
    text-align: right;
}

.First,
.Second,
.Third {
    margin-left: 50px;
}

.First {
    column-count: 2;
    padding-left: 250px;
    column-gap: 50px;
}

.Second {
    padding-left: 250px;
}

.Third {
    padding-left: 150px;
    padding-right: 20px;
}

.Third h4 {
    padding-left: 70px;
}

.uitklap1 {
    margin-left: 230px;
    margin-top: 30px;    
    color: #602377;
    float: left;
    transition: .5s transform;
    position: relative;
}

.uitklap2,
.uitklap3{
    margin-left: 230px;
    margin-top: 15px;    
    color: #602377;
    float: left;
    transition: .5s transform;
    position: relative;
}
 
.uitklap1 div,
.uitklap2 div,
.uitklap3 div{
    position: absolute;
}

.animate-listitem {
    transform: rotate(-90deg);
}

button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}
